<%- include('../partials/header') %>
    
    <main>
    <% if (score.length) { %>
        <table>
            <thead>
                <th>Player</th>
                <th>Course</th>
                <th>Date</th>
                <th>Score</th>
                <th>Round Detail</th>
            </thead>
            <tbody>
                <% score.forEach(score => { %>
                    <tr>
                        <td><%= score.userId.name %></td>
                        <td><%= score.course %></td>
                        <td><%= score.date.toLocaleDateString() %></td>
                        <td><%= score.score %></td>
                        <td><a href="/scores/<%= score._id %>" class="info"><i class="fas fa-info-circle fa-lg"></i></a></td>
                    </tr>
               <% }) %>
            </tbody>
        </table>

        <% } else { %>
            <section class="main-empty">
                <h2>Welcome to ACED</h2>
                <div>
                    <img src="/imgs/AcedLogo.png" alt="logo" class="index-logo">
                </div>
           </section>     
        <% } %>
    </main>

    <%- include('../partials/footer') %>
