<%- include('../partials/header') %>

<main class="show-page">
    
    <section class="show-main">
        <label>PLAYER: </label>
        <div class="show-text"><%= scores.player %></div>
        <label>COURSE: </label>
        <div class="show-text"><%= scores.course %></div>
        <label>DATE: </label>
        <div class="show-text"><%= scores.date.toLocaleDateString() %></div>
        <label>SCORE: </label>
        <div class="show-text"><%= scores.score %></div>
        <a href="/scores/<%= scores._id %>/edit">
            <input type="button" value="Edit Score" class="button">
        </a>
    </section>
    <h3>COURSE CONDITION</h3>
    <form action="/scores/<%= scores._id %>/conditions" method="POST">
        <label>REVIEW:</label><br>
        <textarea name="content" class="text-box"></textarea><br>
        <label>RATING:</label><br>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select><br>
        <input type="submit" value="Add Condition" class="button">
    </form>
<% if (scores.condition.length) { %>
    <div>
        <table id="show-table">
            <thead>
                <tr>
                    <th>Condition</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
        <% scores.condition.forEach(function(c) { %> 
                    <tr>
                            <td><%= c.content %></td>
                            <td><%= c.rating %></td>
                        </tr>
        <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <h5>No Conditions Reported</h5>
    <% } %>
    
    <form class="delete-form" action="/scores/<%= scores._id %>?_method=DELETE" method="POST">
        <button class="button" type="submit">Delete Round</button>
    </form>
    
    </div>
</main>

<%- include('../partials/footer') %>

